
/* RESET----------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL--------------------------------------- */

body {
  box-sizing: border-box;
}

main,
section {
	position: relative;
	top: 50px;
}

img,
.top-nav-bar ul li,
.main-nav-bar li,
.hamburger-menu span,
.author a,
h2,
.news-title,
p[class*="title"],
.author-time li:first-of-type,
.funding-nav ul li,
.funding,
.most-popular,
.other-topics-author-time li:first-of-type,
.other-articles li:hover,
.see-all-deals p,
.deal-picture,
.footer-links ul li {
	cursor: pointer;
}

@font-face {
	font-family: "Avalon";
	src: local('./assets/avalon.woff') format('woff');
}

h2 {
	color: #F42;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 26px;
}

h2:hover {
	color: black;
}

h2::after {
	background: url("./assets/more-than.svg") no-repeat;
	background-size: 15px 15px;
	content: "..";
	color: transparent;
	height: 14px;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}

h2:hover:after {
	background: url("./assets/more-than-black.svg") no-repeat;
	background-size: 15px 15px;
	content: "..";
	color: transparent;
	height: 14px;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}

.series,
.most-popular p:first-child,
.main-nav-bar,
.topic,
.footer-links,
.latest p:first-of-type {
	font-family: ShentoxW01-Light, sans-serif;
}

.news-title,
.author-time,
.funding-nav ul,
h5,
.money,
.author-time-shares,
.tag-text,
.sponsor-name,
.funding-summary,
.suffix,
.copyright span,
.popular-title,
.other-topics-author-time,
.latest-title,
.other-articles,
.rotation-container,
.see-all-deals p,
.deal {
	font-family: "ARS Maquette", "canada-type-gibson", Arial, sans-serif;
}

/* HEADERS-------------------------------------------- */

.scrollable-nav {
	background-color: black;
	height: 32px;
	font-family: sans-serif;
	font-size: 13px;
}

.small-tnw-logo {
	display: none;
}

.nav-bar-left ul :first-child {
	color: white;
}

.nav-bar-left ul li {
	float: left;
	padding-left: 15px;
	line-height: 32px;
}

.top-nav-bar {
	color: rgba(255, 255, 255, 0.6);
}

.top-nav-bar li:hover {
	color: white;
}

.nav-bar-right ul {
	display: flex;
	justify-content: flex-end;
}

.nav-bar-right ul li {
	padding-right: 15px;
	line-height: 28px;
}

.unscrollable-nav {
	height: 50px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 5px 20px #e0dcdc;
}

.main-nav-bar {
	color: #AAA;
	font-size: 14px;
	font-weight: bolder;
	display: flex;
	line-height: 48px;
	margin-left: -12px;
}

.main-nav-bar li {
	padding-left: 28px;
}

.main-nav-bar li:hover {
	color: black;
}

.search-container {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-container img {
	height: 16px;
	padding-left: 20px;
	padding-right: 20px;
	opacity: 0.6;
	transform: rotate(90deg);
}

.search-container img:hover {
	opacity: 0.9;
}

.search-container:before {
	height: 50px;
	width: 20px;
	border-right: 1px solid #EEE;
	content: "";
}

.hamburger-menu {
	display: none;
}

/* HERO AREA--------------------------------------------------- */

.heroes {
	width: 98.5%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 66% 34%;
	grid-gap: 10px;
	grid-template-rows: repeat(2, 30vh);
	/* row is 200px high in smaller screens*/
	justify-content: space-around;
	position: relative;
	top: 8px;
	color: white;
}

.main-hero {
	background: linear-gradient(-195deg, red, rgba(255,0,0,.6) 30%, rgba(0,0,0,.6) 60%, black),
	            url("https://cypher0.github.io/odin-responsive-design/images/rickmorty.jpg");
	grid-row: 1 / 3;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-hero:hover {
	background: linear-gradient(-195deg, rgba(250,122,128,.73), rgba(242,35,35,.6) 30%, rgba(0,0,0,.6) 60%, black),
	            url("https://cypher0.github.io/odin-responsive-design/images/rickmorty.jpg");
}

.tnw-logo {
	height: auto;
	width: 426px;
	padding-left: 5px;
	margin-top: 5px;
	margin-left: 4px;
}

.date {
	position: absolute;
	top: 15px;
	right: 20px;
	font-family: sans-serif;
	font-size: 14px;
}

.topic {
	padding-left: 15px;
	font-weight: bold;
	font-size: 13px;
}

.title {
	font-family: "Avalon", sans-serif;
	color: white;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 10px;
}

.main-hero .title {
	font-size: 55px;
}

.secondary-hero .title {
	font-size: 28px;
}

.author-time-shares {
	position: relative;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 20px;
	color: rgba(255,255,255,.5);
	font-size: 12px;
	letter-spacing: 1.5px;
}

.author-time-shares a:hover {
	color: white;
}

.icon {
	filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(306deg) brightness(103%) contrast(101%);
	opacity: .5;
	height: 14px;
}

.secondary-hero {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.hero2 {
	background: linear-gradient(rgba(0,0,0,.1), black),
	            url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2012/11/Gamers-730x391.jpg");
}

.hero2:hover {
	background: linear-gradient(transparent, black),
	            url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2012/11/Gamers-730x391.jpg");
}

.hero3 {
	background: linear-gradient(rgba(0,0,0,.1), black),
	            url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-5-1-516x270.png");
}

.hero3:hover {
	background: linear-gradient(transparent, black),
	            url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-5-1-516x270.png");
}

.main-hero,
.secondary-hero,
.main-hero:hover,
.secondary-hero:hover {
	background-repeat: no-repeat;
	background-size: cover;
}

/* LATEST NEWS--------------------------------------------------- */

.latest-news {
	position: relative;
	width: 1155px;
	margin: 0 auto;
	padding-top: 40px;
	display: grid;
	grid-template-rows: 50px, repeat(2, 225px);
	grid-template-columns: repeat(4, 270px);
	grid-gap: 24px;
}

h2#latest-news {
	grid-column: 1 / -1;
}

.news img {
	height: 135px;
	width: 270px;
	object-fit: cover;
}

.news-title {
	font-weight: bold;
	font-size: 16px;
	padding-top: 5px;
	line-height: 20px;
}

.news-title:hover {
	color: red;
	text-decoration: underline;
	text-decoration-color: #ff442240;
}

.author-time {
	display: flex;
	font-size: 12px;
	letter-spacing: 1.2px;
	color: rgba(0,0,0, .3);
	padding-top: 8px;
}

.author-time li:first-of-type:hover {
	color: black;
}

.author-time li:first-of-type::after {
	content: " . ";
	color: rgba(0,0,0, .3);
	position: relative;
	bottom: 3px;
}

.author-time li:last-of-type {
	padding-left: 3px;
}

/* FUNDING ROUNDS------------------------------------------------ */

.funding-rounds {
	padding-top: 50px;
	display: grid;
	grid-template-rows: 50px 240px;
	grid-template-columns: repeat(4, 270px);
	grid-gap: 24px;
	position: relative;
	margin: 0 auto 80px auto;
	width: 1155px;
}

.funding-rounds h2 {
	grid-column: 1 / 3;
	display: flex;
	align-items: flex-end;
}

.funding-rounds h2::after {
	bottom: 5px;
	margin-left: 8px;
}

.funding-nav {
	grid-column: 3 / 5;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.funding-nav ul {
	display: flex;
	color: #F42;
	letter-spacing: 1.1px;
	font-size: 17px;
}

.funding-nav li:hover {
	color: black;
}

.with-border:after {
	content: "";
	border-right: 1px solid red;
	padding-right: 8px;
	margin-right: 8px;
}

.funding {
	background: linear-gradient(#F42, #F42 15%, #fCE8E4 15%, #fCE8E4 40%, #FEFAF8 40%, #FEFAF8);
	grid-row: 2 / 3;
}

.funding img[alt*="logo"] {
	float: left;
	height: 60px;
	width: 60px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 15px;
}

.funding img[alt*="icon"] {
	height: 18px;
	width: 18px;
}

.company-name {
	color: white;
	font-weight: bold;
	padding-top: 11px;
	padding-bottom: 10px;
	font-size: 16px;
}

.money {
	font-weight: bold;
	padding-top: 14px;
}

.series {
	font-size: 12px;
	opacity: .8;
	padding-top: 2px;
	padding-bottom: 14px;
}

.tag-text {
	padding-top: 20px;
}

.sponsor-name {
	padding-top: 10px;
}

.tag-text,
.sponsor-name {
	display: inline-block;
	opacity: 0.7;
	font-size: 13px;
	padding-left: 4px;
	vertical-align: super;
	position: relative;
	top: 2px;
}

.tag,
.sponsor {
	padding-left: 15px;

}

.sponsor {
	border-bottom: 1px solid #fcbbae;
	padding-bottom: 15px;
}

.tag-text:hover,
.sponsor-name:hover {
	opacity: 1;
}

.summary {
	font-size: 12px;
	padding-left: 15px;
	padding-top: 15px;
}

.funding-summary {
	opacity: 0.7;
}

.funding-summary,
.suffix {
	line-height: 20px;
}

.suffix {
	opacity: 0.3;
}

/* OTHER TOPICS------------------------------------------------- */

.other-topics {
	margin-top: 20px;
	width: 1155px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: repeat(3, 700px);
	grid-template-columns: repeat(3, 368px);
	grid-gap: 24px;
}

.most-popular {
	height: 270px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 15px;
	color: white;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.most-popular > * {
	padding-top: 10px;
}

.most-popular p:first-child {
	font-size: 13px;
}

.popular-title {
	font-weight: bold;
	font-size: 19px;
	line-height: 1.2;
}

.popular-title:hover {
	text-decoration: underline;
}

.other-topics-author-time {
	display: flex;
	color: #ffffff99;
	font-size: 12px;
}

.other-topics-author-time li:first-of-type:hover {
	color: white;
}

.other-topics-author-time li:first-of-type::after {
	content: " . ";
	color: #ffffff99;
	position: relative;
	bottom: 3px;
	padding-right: 5px;
}

.topic1 .most-popular {
	background: linear-gradient(rgba(0,0,0,.1), black), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Instagram-Threads-796x417.jpg");
}

.topic2 .most-popular {
	background: linear-gradient(rgba(0,0,0,.1), black), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/tablet_feat-1-368x276.jpg");
}

.topic3 .most-popular {
	background: linear-gradient(rgba(0,0,0,.1), black), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/juiced_feat-368x276.jpg");
}

.topic4 .most-popular {
	background: linear-gradient(rgba(0,0,0,.1), black), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Giphy-Arcade-368x276.jpg");
}

.topic5 .most-popular {
	background: linear-gradient(rgba(0,0,0,.1), black), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Amazon-Prime-Fresh-delivery-hed-368x276.jpg");
}

.topic6 .most-popular {
	background: linear-gradient(rgba(0,0,0,.1), black), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/DSC_9427-796x531.jpg");
}

.topic7 .most-popular {
	background: linear-gradient(rgba(0,0,0,.1), black), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/10/Amazon-Prime-Fresh-delivery-hed-368x276.jpg");
}

.topic8 .most-popular {
	background: linear-gradient(rgba(0,0,0,.1), black), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-10-796x417.png");
}

.latest {
	height: 100px;
	background-color: #ff442214;
	color: red;
	padding-left: 15px;
}

.latest img {
	float: right;
	height: 100px;
	width: 100px;
	object-fit: cover;
}

.latest p:first-of-type {
	font-size: 13px;
	padding-bottom: 5px;
	padding-top: 15px;
}

.latest-title {
	font-weight: bold;
	font-size: 15px;
	padding-right: 115px;
}

.latest-title:hover {
	text-decoration: underline;
	text-decoration-color: #ff442240;
}

ul.other-articles {
	list-style-position: outside;
	padding-left: 1em;
	color: #555;
	font-size: 13.5px;
}

.other-articles li {
	padding-top: 10px;
}

.other-articles li:hover {
	color: black;
}

.other-articles li::before {
	content: "•";
	color: red;
	display: inline-block;
	width: 1em;
  margin-left: -1em;
}

.other-articles li::after {
	content: "";
	width: 370px;
	border-bottom: 1px solid #EEE;
	display: block;
	margin-left: -1em;
	padding-top: 10px;
}

/* DEALS------------------------------------------------------- */

.latest-deals {
	display: grid;
	grid-template-rows: 40px, repeat(2, 300px);
	grid-template-columns: repeat(4, 270px);
	grid-gap: 24px;
	width: 1155px;
	position: relative;
	margin: 0 auto 60px auto;
}

.deals-header {
	display: flex;
	justify-content: space-between;
	grid-row: 1 / 2;
	grid-column: 1 / -1;
}

.see-all-deals p {
	color: red;
}

.see-all-deals p:hover {
	color: black;
}

.deal-picture {
	height: 200px;
	width: 270px;
	background-size: cover;
}

.discount-triangle {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/deals-ribbon.svg");
	z-index: 5;
	background-repeat: no-repeat;
	height: 80px;
	right: 0;
	position: absolute;
	width: 80px;
}

.rotation-container {
	transform: rotate(45deg);
	font-weight: bold;
	font-size: 13px;
	position: relative;
	top: 34px;
	left: 14px;
}

.deal-title {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 8px;
}

.deal-title:hover {
	text-decoration: underline;
	text-decoration-color: #FF442240;
	color: red;
}

.old-price {
	text-decoration: line-through;
	font-size: 12px;
	color: #aaa;
}

.deal {
	position: relative;
}

.deal-price {
	color: #727272;
	padding-left: 5px;
}

.deal1 {
	background-image: url("https://cdnp2.stackassets.com/bb420041b7bf2fae328a461be3854694db99c887/store/762721c3ff4746e91fa56082c9999f1e41af9cbdf99daebe2bdd2b1cb64f/sale_23425_primary_image.jpg");
}

.deal2 {
	background-image: url("https://cdnp1.stackassets.com/cba31166b47b2c151d94a8397c4aa0604771f268/store/04b44dd5593f2a7c175e4dd48292fe76d560b9c1c0536d03345aa8c50141/sale_18367_primary_image.jpg");
}

.deal3 {
	background-image: url("https://cdnp0.stackassets.com/0bcaf472e484efc5812ba81caff99e8d92b3e6e9/store/a608033f5bd5c0926a52360990ea5bd8a7241593db592e096d16df200727/product_30218_product_shots4.jpg");
}

.deal4 {
	background-image: url("https://cdnp0.stackassets.com/26e586c6faa56dd29d491bcb023c39e0191afbda/store/8069ccf36e76900d19f47055cc66d9caa648df89eb3f58c59dbb429f6b3b/product_30237_product_shots1.jpg");
}

.deal5 {
	background-image: url("https://cdnp0.stackassets.com/bc0c75ee881bcd317e2c29d81151d76aa1995523/store/opt/489/367/452283b60bbcff152b051dec009a94c44f17d50ea4f722d70f9ea3e576fb/product_23351_product_shots1_image.jpg");
}

.deal6 {
	background-image: url("https://cdnp3.stackassets.com/118c119e3059771fedd77eff855af436949d712b/store/opt/204/153/9b59279ef2445e6b211ff2b810bdeef4f28cf00d1eadca17f5d8132d6973/product_33398_product_shots1.jpg");
}

.deal7 {
	background-image: url("https://cdnp2.stackassets.com/8384c2d571b2f88e7f1f3bfdac4ed4db0b828603/store/6c7aa8c8d1c22f434afa741b4c1c1398efa4613eb1f5ea4feff88e13ed13/sale_24045_primary_image.jpg");
}

.deal8 {
	background-image: url("https://cdnp2.stackassets.com/f8c7f6bd02e737708e828db811d427dc113f98fe/store/opt/489/367/fd6bbf06eaab39904b9614df79579affab5589e16155c7fe1c5ca7fef1a8/product_34038_product_shots1.jpg");
}

/* FOOTER----------------------------------------------------- */

footer {
	color: #AAA;
	height: 258px;
	background: linear-gradient(#131313, #131313 62.5%, black 62.5%, black);
}

b {
	color: red;
}

.share-icons {
	position: relative;
	margin: 0 auto;
	width: 380px;
	display: flex;
	justify-content: space-between;
	padding-top: 42px;
}

.icon-circle {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 2px solid #333;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-circle img {
	height: 15px;
	width: auto;
	filter: invert(99%) sepia(73%) saturate(2%) hue-rotate(57deg) brightness(108%) contrast(101%);
}

img.mail-icon {
	height: 12px;
}

.icon-circle:hover {
	background-color: transparent;
}

.footer-links {
	font-size: 13px;
	font-weight: bold;
	position: relative;
	margin: 32px auto 0 auto;
	width: 345px;
}

.footer-links ul {
	display: flex;
	justify-content: space-between;
}

.footer-links ul li:hover {
	color: white;
}

.line1,
.line2,
.line3 {
	display: inline;
}

.copyright {
	position: relative;
	margin: 75px auto 0 auto;
	width: 560px;
}

.copyright img {
	height: 10px;
}

.copyright span {
	font-size: 13px;
}


/* MEDIA QUERIES-------------------------------------------------- */

@media all and (max-width: 1600px) {
	.small-tnw-logo {
		display: none;
	}

	.tnw-logo {
		height: auto;
		width: 490px;
	}


}

@media all and (max-width: 1410px) {
	.small-tnw-logo {
		display: none;
	}

	.tnw-logo {
		height: auto;
		width: 54%;
	}
}

@media all and (max-width: 1205px) {
	.latest-news,
	.funding-rounds,
	.other-topics,
	.latest-deals {
		margin-left: 20px;
		margin-right: 20px;
	}

	.latest-news {
		width: 95%;
		grid-template-columns: repeat(4, 22.5vw);
	}

	.news img {
		width: 22.5vw;
		height: 11.5vw;
		float: left;
		margin-right: 15px;
	}

	.funding-rounds {
		width: 95%;
		grid-template-columns: repeat(4, 22.5vw);
	}

	.other-topics {
		width: 95%;
		grid-template-columns: repeat(3, 30.5vw);
	}

	.most-popular {
		height: 22.5vw;
	}

	.latest-deals {
		grid-template-columns: repeat(4, 22.5vw);
		width: 95%;
	}

	.deal-picture {
		width: 22.5vw;
		height: 16.6vw;
	}
}

@media all and (max-width: 1024px) {
	.small-tnw-logo {
		display: flex;
		justify-content: center;
		float: left;
		background: linear-gradient(to bottom right,#c09,#f42 85%);
		width: 105px;
		height: 82px;
	}

	.small-tnw-logo img {
		width: 65px;
		height: auto;
	}

	.tnw-logo {
		visibility: hidden;
	}

	.main-hero {
		background: linear-gradient(rgba(0,0,0,.1), black),
		            url("https://cypher0.github.io/odin-responsive-design/images/rickmorty.jpg");
		background-size: cover;
	}

	.main-hero:hover {
		background: linear-gradient(transparent, black),
		            url("https://cypher0.github.io/odin-responsive-design/images/rickmorty.jpg");
		background-size: cover;
	}

	.main-hero .title {
		font-size: 36px;
	}

	.secondary-hero .title {
		font-size: 20px;
	}

	.latest-news {
		grid-template-columns: repeat(3, 30vw);
	}

	.news img {
		width: 30vw;
		height: 15vw;
	}

	.news-title {
		font-size: 14px;
	}

	.funding-rounds {
		grid-template-columns: repeat(3, 30.3vw);
		grid-template-rows: 40px 25px 240px;
	}

	.funding-rounds h2 {
		transform: translateY(18px);
	}

	.funding-nav {
		grid-row: 2 / 3;
		grid-column: 1 / -1;
		justify-content: flex-start;
	}

	.funding {
		grid-row: 3 / -1;
	}

	.fund4 {
		display: none;
	}

	.other-topics {
		grid-template-columns: repeat(2, 46.4vw);
	}

	.most-popular {
		height: 33vw;
	}

	.latest-deals {
		grid-template-rows: 50px;
		grid-template-columns: repeat(3, 30.3vw);
	}

	.deal-picture {
		width: 30.3vw;
		height: 22.5vw;
	}

	.discount-triangle {
		margin-left: 22.5vw;
		height: 80px;
		width: 80px;
	}
}

@media all and (max-width: 910px) {
	.heroes {
		grid-template-rows: repeat(2, 24vh);
	}
}

@media all and (max-width: 818px) {
	.nav-bar-right {
		display: none;
	}
}

@media all and (max-width: 767px) {
	.small-tnw-logo {
		height: 50px;
		z-index: 10;
		position: fixed;
	}

	.scrollable-nav {
		display: none;
	}

	.main-nav-bar {
		display: none;
	}

	.unscrollable-nav {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 8;
		background-color: white;
		justify-content: flex-end;
	}

	.search-container {
		width: 110px;

	}

	.hamburger-menu {
		height: 18px;
		display: inline-block;
		width: 18px;
		padding-right: 16px;
		z-index: 10;
	}

	.hamburger-menu:before {
		height: 50px;
		border-right: 1px solid #EEE;
		content: "";
		position: relative;
		right: 18px;
		display: inline-block;
	}

	.hamburger-menu span {
		width: 20px;
		height: 2px;
		background: red;
		margin-top: 2px;
		margin-bottom: 4px;
		display: block;
		position: absolute;
		top: 15px;
	}

	.hamburger-menu span:nth-of-type(2) {
		top: 21px;
	}

	.hamburger-menu span:nth-of-type(3) {
		top: 27px;
	}

	.heroes {
		grid-template-rows: repeat(3, 29vh);
		grid-template-columns: 95%;
	}

	.main-hero {
		grid-row: 1 / 2;
		justify-content: flex-end;
	}

	.main-hero img {
		display: none;
	}

	.main-hero .title {
		font-size: 20px;
	}

	.latest-news {
		grid-template-columns: 95%;
		grid-template-rows: 50px, repeat(8, 75px);
	}

	.news img {
		height: 75px;
		width: 75px;
	}

	.news-title {
		padding-top: 0;
	}

	.funding-rounds {
		grid-template-rows: 50px 70px repeat(3, 230px);
		grid-template-columns: 95%;
	}

	.funding-rounds h2 {
		transform: translateY(0);
	}

	.funding-nav ul {
		height: 70px;
		flex-direction: column-reverse;
		justify-content: space-between;
		font-size: 14px;
	}

	.with-border:after {
		display: none;
	}

	.funding {
		height: 230px;
		grid-row: 3 / 6;
	}

	.fund1 {
		grid-row: 3 / 4;
	}

	.fund2 {
		grid-row: 4 / 5;
	}

	.fund3 {
		grid-row: 5 / 6;
	}

	.other-topics {
		width: 97%;
		grid-template-rows: repeat(8, 840px);
		grid-template-columns: 95%;
	}

	.most-popular {
		height: 68vw;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}

	.latest-deals {
		margin-top: 40px;
		grid-template-columns: 95%;
		grid-template-rows: 40px repeat(8, 75px);
	}

	.deal-picture {
		height: 75px;
		width: 75px;
		float: left;
		margin-right: 15px;
	}

	.discount-triangle {
		display: none;
	}

	footer {
		width: 100%;
		height: 283px;
	}

	.share-icons {
		width: 325px;
	}

	.footer-links {
		width: 300px;
	}

	.line1 {
		width: 240px;
	}

	.line2 {
		width: 160px;
	}

	.line3 {
		width: 150px;
	}

	.line1,
	.line2,
	.line3 {
		display: block;
		margin: 0 auto;
	}
}
